In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    "nombre": ["Amos","Fernando","Julieta"],
    "sueldo": [10,20,30]
})

df["sueldo_duplicado"] = df["sueldo"]*2
df["sueldo_triplicado"] = df.sueldo*3
df

     nombre  sueldo  sueldo_duplicado  sueldo_triplicado
0      Amos      10                20                 30
1  Fernando      20                40                 60
2   Julieta      30                60                 90

In [18]:
class AgentEvaluator: #siempre en cameyo para las clases
    
    #doble separacion entre funciones
    def __init__(self, 
                 nombre: str, 
                 operation: str) -> None: #ver que son las dataclases / _ (el guion delante son atributos privados)
        self.nombre = nombre
        self.operation = operation
        self.result_returned = self.get_operation()
        
    
    def get_operation(self) -> int:   #las funciones son todas minusculas, separados por guiones bajos
        """_summary_
            Retornoa la operacion asignada
        Returns:
            int: _description_
            retorna un valor
        """
        if self.operation.lower() == "suma":
            return 4+2
        if self.operation.lower() == "resta": #como si fuenra variables globales
            return abs(4-2)
        else:
            return 4*2
    
    
    def power_final_result(self) -> int:
        """_summary_
        
        Returns:
            int: _description_
        """
        return self.result_returned ** 2

In [23]:
agent_evaluator = AgentEvaluator(nombre="lucho",
                                 operation="RESTA")
print(agent_evaluator.nombre)
print(agent_evaluator.operation)
print(agent_evaluator.result_returned)

lucho
RESTA
2

In [22]:
agent_evaluator.power_final_result()

4

In [ ]:
#para saber si el codigo esta bien
#autopep8
#black
#flake8
#pre-commit
#las funciones deben ser cortas y hacer una sola cosa, algo chiquito