# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [22]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [23]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [24]:
import pandas as pd

In [25]:
#aclaracion el codigo de abajo ya me carga el archivo en un data frame, no hace falta pd.DataFrame()
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [26]:
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698

In [27]:
df.isnull().sum()

Código de país                            0
Nombre del país                           0
Región                                    0
Año                                       0
CO2 (kt)                               2095
CO2 per cápita (toneladas métricas)    2098
dtype: int64

In [28]:
df.dropna(inplace=True)

In [29]:
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698

In [30]:
df['Clave_Hash'] = df['Código de país'].apply(hash_function)

In [31]:
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698,951

In [35]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)', 'Clave_Hash'],
      dtype='object')

In [45]:
df.rename(columns={
    'Región':'region',
    },
    inplace=True
    )

In [46]:
df.columns

Index(['cod_pais', 'nom_pais', 'region', 'año', 'CO2 (kt)', 'co2_percapita',
       'clave_hash'],
      dtype='object')

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [47]:
df_pais = df[['clave_hash','cod_pais','nom_pais','region']].drop_duplicates()

In [49]:
df_pais.head()

     clave_hash cod_pais    nom_pais                   region
26          910      ABW       Aruba  América Latina y Caribe
87          870      AND     Andorra    Europa y Asia Central
104         858      AFG  Afganistán              Sur de Asia
156         893      AGO      Angola      África subsahariana
208         856      ALB     Albania    Europa y Asia Central

In [50]:
df.drop(['cod_pais','nom_pais','region'],axis=1,inplace=True)

In [51]:
df

        año  CO2 (kt)  co2_percapita  clave_hash
26     1986   179,683       2.868319         910
27     1987   447,374       7.234964         910
28     1988   612,389      10.026508         910
29     1989   649,059      10.634733         910
30     1990  1.840,83      29.620165         910
...     ...       ...            ...         ...
11122  2007  9.732,22       0.731867         951
11123  2008  7.682,37       0.569255         951
11124  2009  8.239,75       0.600521         951
11125  2010  9.028,15       0.646073         951
11126  2011  9.860,56       0.691698         951

[9029 rows x 4 columns]

In [54]:
df_merged = df_pais.merge(df, on=['clave_hash'])

In [55]:
df_merged

,clave_hash,cod_pais,nom_pais,region,año,CO2 (kt),co2_percapita
0,910,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
1,910,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
2,910,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
3,910,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
4,910,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165
...,...,...,...,...,...,...,...
21302,951,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867
21303,951,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255
21304,951,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521
21305,951,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073
21306,951,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698